.module-border-wrap {
  position: relative;
  padding: 0.25rem;
  z-index: -200;
  background: linear-gradient(135deg, #BD4EEE 33%, rgba(0, 133, 255, 0.5) 66%, rgba(0, 154, 99, 0.5) 100%);
  background-size: 300% 300%;
  -webkit-animation: Gradient 7s ease infinite;
  -moz-animation: Gradient 7s ease infinite;
  animation: Gradient 7s ease infinite; }
  @media (min-width: 36em) {
    .module-border-wrap {
      padding: 0.375rem; } }
  @media (min-width: 48em) {
    .module-border-wrap {
      padding: 0.5rem; } }
  @media (min-width: 62em) {
    .module-border-wrap {
      padding: 0.625rem; } }
  .module-border-wrap .module {
    position: relative;
    width: 100%;
    border-radius: 5px;
    background: #FBFBFB;
    z-index: -100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 0.25rem*2); }
    @media (min-width: 36em) {
      .module-border-wrap .module {
        min-height: calc(100vh - 0.375rem*2);
        border-radius: 10px; } }
    @media (min-width: 48em) {
      .module-border-wrap .module {
        min-height: calc(100vh - 0.5rem*2); } }
    @media (min-width: 62em) {
      .module-border-wrap .module {
        min-height: calc(100vh - 0.625rem*2); } }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

nav {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.125rem; }
  @media (min-width: 62em) {
    nav {
      font-size: 0.875rem; } }
  @media (min-width: 75em) {
    nav {
      font-size: 1rem; } }
  @media (min-width: 1300px) {
    nav {
      font-size: 1.125rem; } }
  nav .header-logo-name {
    font-size: 1.5rem;
    width: 5em;
    font-weight: 500;
    line-height: 1.04em;
    color: #393939; }
    nav .header-logo-name > p {
      margin-bottom: 0; }
  nav .header-list {
    font-weight: 700;
    line-height: 1.2em; }
    nav .header-list .nav-link {
      color: #2F3843 !important; }
      nav .header-list .nav-link:hover {
        color: #3FAEFF !important; }

.header-left-margin {
  margin-left: 0; }
  @media (min-width: 62em) {
    .header-left-margin {
      margin-left: 2%; } }
  @media (min-width: 1050px) {
    .header-left-margin {
      margin-left: 4.5%; } }
  @media (min-width: 1100px) {
    .header-left-margin {
      margin-left: 7%; } }
  @media (min-width: 1400px) {
    .header-left-margin {
      margin-left: 13%; } }

main {
  margin: 2rem;
  flex: 1;
  /*@include lg {
        @include calculate-left-margin($dynamic-left-margin-lg);
    }

    @include rwd(1050) {
        @include calculate-left-margin($dynamic-left-margin-rwd-1050);
    }

    @include rwd(1100) {
        @include calculate-left-margin($dynamic-left-margin-rwd-1100);
    }

    @include rwd(1400) {
        @include calculate-left-margin($dynamic-left-margin-rwd-1400);
    }*/ }

.footer {
  margin-top: 3rem;
  width: 100%;
  min-height: 25rem;
  flex-shrink: 0; }
  .footer #ymap {
    width: auto;
    height: 25rem; }
  .footer h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: #393939; }
  .footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.22em; }
  .footer img {
    height: 2.25rem;
    width: auto; }
  .footer .social_media_conteiner {
    letter-spacing: 1rem; }

/*Debug only is here*/
/*.blank-test {
    height: 100vh;
}*/
#bg-shapes-container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -50; }

.figure-container {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -50; }

#first-figure {
  height: 15vw;
  width: 15vw;
  top: 390px;
  left: 2%;
  transform: rotate(-62deg);
  -webkit-animation: First-figure 40s linear infinite;
  -moz-animation: First-figure 40s linear infinite;
  animation: First-figure 40s linear infinite; }

@-webkit-keyframes First-figure {
  25% {
    top: 250px;
    left: 30%;
    transform: rotate(-95deg); }
  50% {
    top: 450px;
    left: 55%;
    transform: rotate(-50deg); }
  75% {
    top: 500px;
    left: 30%;
    transform: rotate(-95deg); } }

@-moz-keyframes First-figure {
  25% {
    top: 250px;
    left: 30%;
    transform: rotate(-95deg); }
  50% {
    top: 450px;
    left: 55%;
    transform: rotate(-50deg); }
  75% {
    top: 500px;
    left: 30%;
    transform: rotate(-95deg); } }

@keyframes First-figure {
  25% {
    top: 250px;
    left: 30%;
    transform: rotate(-95deg); }
  50% {
    top: 450px;
    left: 55%;
    transform: rotate(-50deg); }
  75% {
    top: 500px;
    left: 30%;
    transform: rotate(-95deg); } }

.square-gradient {
  position: absolute;
  width: 80%;
  height: 80%; }
  .square-gradient:nth-child(2) {
    left: 10%;
    top: 10%; }
  .square-gradient:nth-child(3) {
    left: 20%;
    top: 20%; }

#second-figure {
  height: 23vw;
  width: 35vw;
  top: 40%;
  left: 75%;
  transform: rotate(-30deg);
  /*-webkit-animation: First-figure 40s linear infinite;
    -moz-animation: First-figure 40s linear infinite;*/
  animation: Second-figure-move 60s linear infinite; }
  #second-figure div {
    height: 100%;
    width: 100%;
    animation: Second-figure-scale 40s linear infinite; }

@-webkit-keyframes Second-figure-move {
  25% {
    top: 750px;
    left: 55%;
    transform: rotate(-50deg); }
  50% {
    top: 700px;
    left: 30%;
    transform: rotate(-120deg); }
  75% {
    top: 500px;
    left: 45%;
    transform: rotate(-95deg); } }

@-moz-keyframes Second-figure-move {
  25% {
    top: 750px;
    left: 55%;
    transform: rotate(-50deg); }
  50% {
    top: 700px;
    left: 30%;
    transform: rotate(-120deg); }
  75% {
    top: 500px;
    left: 45%;
    transform: rotate(-95deg); } }

@keyframes Second-figure-move {
  25% {
    top: 750px;
    left: 55%;
    transform: rotate(-50deg); }
  50% {
    top: 700px;
    left: 30%;
    transform: rotate(-120deg); }
  75% {
    top: 500px;
    left: 45%;
    transform: rotate(-95deg); } }

@-webkit-keyframes Second-figure-scale {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.5);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-moz-keyframes Second-figure-scale {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.5);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes Second-figure-scale {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.5);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.polygon-gradient {
  position: absolute;
  width: 90%;
  height: 90%; }
  .polygon-gradient:nth-child(2) {
    left: 2vw;
    top: 2vw;
    animation: Polygon-2 20s linear infinite; }

@-webkit-keyframes Polygon-2 {
  25% {
    left: 2vw;
    top: 2vw; }
  50% {
    left: 1vw;
    top: 1vw; }
  75% {
    left: 1vw;
    top: 1vw; } }

@-moz-keyframes Polygon-2 {
  25% {
    left: 2vw;
    top: 2vw; }
  50% {
    left: 1vw;
    top: 1vw; }
  75% {
    left: 1vw;
    top: 1vw; } }

@keyframes Polygon-2 {
  25% {
    left: 2vw;
    top: 2vw; }
  50% {
    left: 1vw;
    top: 1vw; }
  75% {
    left: 1vw;
    top: 1vw; } }

#third-figure {
  height: 40vw;
  width: 40vw;
  top: 55%;
  left: 5%;
  transform-origin: 50% 70%;
  /*-webkit-animation: First-figure 40s linear infinite;
    -moz-animation: First-figure 40s linear infinite;*/
  animation: Third-figure 25s linear infinite; }

@-webkit-keyframes Third-figure {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes Third-figure {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes Third-figure {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.round-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  opacity: 0.8;
  transform: translate(-50%, -50%); }
  .round-gradient:nth-child(1) {
    height: 100%;
    width: 100%;
    animation: Round-scale-1 20s linear infinite; }
  .round-gradient:nth-child(2) {
    height: 70%;
    width: 70%;
    animation: Round-scale-2 20s linear infinite; }
  .round-gradient:nth-child(3) {
    height: 40%;
    width: 40%;
    animation: Round-scale-3 20s linear infinite; }

@-webkit-keyframes Round-scale-3 {
  35% {
    transform: translate(-50%, -50%) scale(1.7); }
  55% {
    transform: translate(-50%, -50%) scale(1); } }

@-moz-keyframes Round-scale-3 {
  35% {
    transform: translate(-50%, -50%) scale(1.7); }
  55% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes Round-scale-3 {
  35% {
    transform: translate(-50%, -50%) scale(1.7); }
  55% {
    transform: translate(-50%, -50%) scale(1); } }

@-webkit-keyframes Round-scale-2 {
  34% {
    transform: translate(-50%, -50%) scale(1); }
  65% {
    transform: translate(-50%, -50%) scale(1.23); }
  85% {
    transform: translate(-50%, -50%) scale(1); } }

@-moz-keyframes Round-scale-2 {
  34% {
    transform: translate(-50%, -50%) scale(1); }
  65% {
    transform: translate(-50%, -50%) scale(1.23); }
  85% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes Round-scale-2 {
  34% {
    transform: translate(-50%, -50%) scale(1); }
  65% {
    transform: translate(-50%, -50%) scale(1.23); }
  85% {
    transform: translate(-50%, -50%) scale(1); } }

@-webkit-keyframes Round-scale-1 {
  65% {
    transform: translate(-50%, -50%) scale(1); }
  80% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

@-moz-keyframes Round-scale-1 {
  65% {
    transform: translate(-50%, -50%) scale(1); }
  80% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes Round-scale-1 {
  65% {
    transform: translate(-50%, -50%) scale(1); }
  80% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

#side-navbar-container {
  position: relative; }

#side-navbar {
  position: sticky;
  top: 0;
  font-family: Consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  width: 100%; }
  #side-navbar.press-down {
    position: absolute;
    bottom: 0; }
  #side-navbar ul {
    padding: 0;
    margin: 0; }
  #side-navbar li {
    list-style: none; }
  #side-navbar div {
    padding: 0.7rem;
    padding-left: 2.5rem;
    border-left: 0.125rem solid #D9D9D9;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s; }
    #side-navbar div a {
      color: #000000;
      text-decoration: none;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s; }
    #side-navbar div:hover {
      border-left: 2px solid #75c5ff;
      font-size: 1.1em;
      transform: translateX(-0.125rem); }
    #side-navbar div.side-navbar-selected {
      border-left: 2px solid #3FAEFF; }
      #side-navbar div.side-navbar-selected a {
        color: #3FAEFF; }
  #side-navbar.fixed {
    position: fixed;
    margin-top: 0; }

.big-btn {
  background: #3FAEFF;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  height: 4rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .big-btn:hover {
    background: #209bf5; }
  .big-btn:active {
    transform: scale(0.95); }
  .big-btn:focus {
    outline: none; }

.purple-highlight {
  color: #BD4EEE; }

.blue-highlight {
  color: #3FAEFF; }

.title-page span {
  font-family: Consolas;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #BD4EEE; }

@media (min-width: 36em) {
  .title-page h1 {
    font-size: 4rem;
    line-height: 4.875rem; } }

.title-page p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  color: #000000; }

@media (min-width: 36em) {
  #blocks-container h2 {
    font-size: 3rem;
    line-height: 3.7rem; } }

.specialty-container {
  padding-bottom: 30px; }
  .specialty-container .specialty {
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .specialty-container .specialty p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.5625rem; }
  .specialty-container:hover .specialty {
    transform: translateY(-0.6rem);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15); }

.test-hits button.answer {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  border: 1px solid rgba(143, 147, 154, 0.556885);
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .test-hits button.answer:hover {
    background: rgba(143, 147, 154, 0.2); }
  .test-hits button.answer:active {
    transform: scale(0.95); }
  .test-hits button.answer:focus {
    outline: none; }

.entry-field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: solid 1px #8D96B2;
  line-height: 40px; }

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3rem;
  color: #000000; }

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #000000; }

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px; }

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #000000; }

h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #000000; }

h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262626; }

.box {
  position: relative;
  padding: 1.6rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.925rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24.5px;
  color: #6F6F6F; }
  .box .additional-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px; }

#budgetary-chance, #paid-chance {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 164.1%;
  /* or 39px */
  color: #6F6F6F; }

.small-addition {
  display: flex; }
  .small-addition > div {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #6F6F6F; }

#our-people > label {
  float: left;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(143, 147, 154, 0.556885);
  border-right: none;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 2.3em;
  color: #262626;
  padding: .375rem .75rem;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s; }
  #our-people > label:nth-of-type(1) {
    border-radius: 10px 0px 0px 10px; }
  #our-people > label:nth-last-of-type(1) {
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid rgba(143, 147, 154, 0.556885); }
  #our-people > label:hover {
    background-color: #edf7ff; }

#our-people > input {
  display: none; }
  #our-people > input:checked + label {
    border-bottom: 1px solid #3FAEFF;
    border-top: 1px solid #3FAEFF;
    border-left: 1px solid #3FAEFF;
    color: #3FAEFF;
    text-shadow: 0 0 .65px #3FAEFF, 0 0 .65px #3FAEFF; }
    #our-people > input:checked + label + input + label {
      border-left: 1px solid #3FAEFF; }
  #our-people > input:nth-last-of-type(1):checked + label {
    border-right: 1px solid #3FAEFF; }

#our-people .box > div {
  display: none; }

#students-geographic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }

#teachers .img-wrapper, #graduates .img-wrapper {
  height: 300px;
  position: relative; }
  #teachers .img-wrapper img, #graduates .img-wrapper img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

#teachers p, #graduates p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #6F6F6F; }

#teachers-btn:checked ~ .box #teachers {
  display: block; }

#students-btn:checked ~ .box #students-geographic {
  display: block; }

#graduates-btn:checked ~ .box #graduates {
  display: block; }

.adding-card {
  background: rgba(230, 230, 230, 0.2);
  text-align: right;
  position: relative; }
  .adding-card .btn-add-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .adding-card .btn-add-container .add-btn {
      cursor: pointer;
      background-image: url(/img/plus--v2.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: inherit;
      border: none;
      outline: none;
      opacity: 0.2;
      height: 100%;
      width: 100%; }
  .adding-card:hover {
    background: rgba(255, 255, 255, 0.2); }

.hidden {
  display: none !important; }

.company-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .company-container img {
    max-height: 64px;
    max-width: 90%; }

.large-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px; }

.title-block {
  display: flex; }
  .title-block text {
    float: left; }
  .title-block .edit-block-name {
    visibility: hidden;
    cursor: pointer;
    background-image: url(/img/pencil.png);
    background-position: bottom;
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    outline: none;
    height: 1em;
    width: 1em; }
  .title-block:hover .edit-block-name {
    visibility: visible; }
  .title-block .entry-field {
    font-size: 3rem;
    line-height: 3.7rem;
    font-family: Montserrat;
    font-style: normal;
    /*font-weight: bold;*/ }

.card-btns-container {
  position: absolute;
  display: inline-flex;
  right: 0;
  top: 0;
  border-radius: 0 .925rem;
  overflow: hidden; }
  .card-btns-container .btn-edit, .card-btns-container .btn-delete {
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .card-btns-container .btn-delete {
    background-size: 60%;
    background-image: url(/img/trash.png);
    background-position-x: 40%;
    background-color: #f76060; }
    .card-btns-container .btn-delete:hover {
      background-color: #cf5757; }
  .card-btns-container .btn-edit {
    background-size: 50%;
    background-image: url(/img/pencil2.png);
    background-color: #3faeff;
    background-position-y: 40%; }
    .card-btns-container .btn-edit:hover {
      background-color: #209bf5; }

.popup-bg {
  display: none;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(111, 111, 111, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.popup {
  position: fixed;
  display: none;
  overflow: auto;
  max-height: 85%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.925rem;
  z-index: 101; }
  .popup::-webkit-scrollbar {
    width: 1.85rem; }
  .popup::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 0 0.925rem 0.925rem 0; }
  .popup::-webkit-scrollbar-thumb {
    border: 0.8rem solid #FFFFFF;
    background-clip: padding-box;
    border-radius: 0.925rem;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }
