@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-5">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-page">
        <span class="purple-highlight">&lt;title&gt;</span>
        <h1>О школе</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Мы готовим действительно востребованных на IT- рынке специалистов
                </p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <button type="button" class="big-btn">Узнать подробнее</button>
            </div>
        </div>
    </div>
</div>

<div class="row pt-4">

    <div id="side-navbar-container" class="col-3 d-none d-lg-block">
        <div id="side-navbar" class="default">
            <ul>
            </ul>
        </div>
    </div>

    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">
            <div class="col-12 title-block">
                <h2 class="d-flex w-100 justify-content-between align-items-center">
                    <text>Особенности учебного процесса</text>
                    <input type="button" class="edit-block-name" />
                </h2>
                <form class="hidden w-100">
                    <input class="entry-field" type="text" name="name" value="" placeholder="Название блока" autocomplete="off" />
                    <div class="mt-3 d-flex justify-content-end">
                        <button type="button" class="cancel-editing btn btn-outline-danger mr-2">Отмена</button>
                        <button type="submit" class="btn btn-outline-primary">Применить</button>
                    </div>
                </form>
            </div>

            <div class="col-12 mt-3">
                <div class="box">
                    <h4>Learning by Doing</h4>
                    <p class="pt-3">
                        Программист обучается тогда, когда что-то делает, а не тогда, когда он прослушал и пересказал лекцию на нужную тему
                    </p>
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="box">
                    <h4>Постоянное развитие предметов и преподавателей</h4>
                    <p class="pt-3">
                        После каждого проведённого года, в дисциплины вносятся изменения (потенциально, улучшения), как на уровне содержания, так и на уровне правил прохождения предмета
                    </p>
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="box">
                    <h4>Интересно → сложно</h4>
                    <p class="pt-3">
                        По своей структуре предметы и их компоновка готовят студентов к разным ситуациям, которые могут встречаться в профессиональной деятельности.
                    </p>
                </div>
            </div>

        </div>

        <div class="row info-block mt-5">
            <div class="col-12 title-block">
                <h2 class="d-flex w-100 justify-content-between align-items-center">
                    <text>Наши люди</text>
                    <input type="button" class="edit-block-name" />
                </h2>
                <form class="hidden w-100">
                    <input class="entry-field" type="text" name="name" value="" placeholder="Название блока" autocomplete="off" />
                    <div class="mt-3 d-flex justify-content-end">
                        <button type="button" class="cancel-editing btn btn-outline-danger mr-2">Отмена</button>
                        <button type="submit" class="btn btn-outline-primary">Применить</button>
                    </div>
                </form>
            </div>

            <div class="col-12 mt-3" id="our-people">

                <input type="radio" name="our-people" id="students-btn" checked><label for="students-btn">Студенты</label>

                <input type="radio" name="our-people" id="teachers-btn"><label for="teachers-btn">Преподаватели</label>

                <input type="radio" name="our-people" id="graduates-btn"><label for="graduates-btn">Выпускники</label>

                <div class="clearfix"></div>

                <div class="box mt-3">

                    <div id="students-geographic">
                        <h4 class="mt-2">География студентов</h4>
                        <img class="mt-4" src="~/svg/map-students.svg">
                    </div>

                    <div id="teachers">
                        <div class="row">
                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Lidia.png">
                                </div>
                                <h4 align="center" class="mt-3">Иванова Лидия Сергеевна</h4>
                                <p class="mt-3">Тренер чемпионов WOrldSkills и DigitalSkills, амбассадор Mail.ru</p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Zmeev.png">
                                </div>
                                <h4 align="center" class="mt-3">Змеев Олег Алексеевич</h4>
                                <p class="mt-3">Проректор по цифровой трансформации. Доктор физико-математических наук, профессор</p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Sokov.png">
                                </div>
                                <h4 align="center" class="mt-3">Соколов Данила Александрович</h4>
                                <p class="mt-3">Тренер чемпионов WOrldSkills и DigitalSkills, амбассадор Mail.ru</p>
                            </div>
                        </div>

                        <p class="mt-4">Со всей командой наших преподавателей вы можете ознакомиться <a href="http://hits.tsu.ru/ru/teachers">здесь</a></p>
                    </div>

                    <div id="graduates">
                        <div class="row">

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Lidia.png">
                                </div>
                                <h4 align="center" class="mt-3">Дмитрий Биматов</h4>
                                <p class="mt-3">
                                    Разработчик программного обеспечения в Microsoft
                                </p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Zmeev.png">
                                </div>
                                <h4 align="center" class="mt-3">Роман Чаднов</h4>
                                <p class="mt-3">
                                    Инженер-программист в Facebook
                                </p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Sokov.png">
                                </div>
                                <h4 align="center" class="mt-3">Евгений Агафонов</h4>
                                <p class="mt-3">Инженер-разработчик программного обеспечения в Microsoft</p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Lidia.png">
                                </div>
                                <h4 align="center" class="mt-3">Роман Малахов</h4>
                                <p class="mt-3">
                                    Генеральный директор и основатель в bombsquare и ZOOM
                                </p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Zmeev.png">
                                </div>
                                <h4 align="center" class="mt-3">Сергей Кондратьев</h4>
                                <p class="mt-3">Инженер по надежности сайта в Google</p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Sokov.png">
                                </div>
                                <h4 align="center" class="mt-3">Рената Пожидаева</h4>
                                <p class="mt-3">
                                    Ведущий разработчик в RevenueWell
                                </p>
                            </div>

                        </div>

                        <p class="mt-4">Со всей командой наших преподавателей вы можете ознакомиться <a href="http://hits.tsu.ru/ru/teachers">здесь</a></p>
                    </div>

                </div>
            </div>

        </div>

        <div class="row info-block mt-5" id="achievements">

            <div class="col-12 title-block">
                <h2 class="d-flex w-100 justify-content-between align-items-center">
                    <text>Достижения</text>
                    <input type="button" class="edit-block-name" />
                </h2>
                <form class="hidden w-100">
                    <input class="entry-field" type="text" name="name" value="" placeholder="Название блока" autocomplete="off" />
                    <div class="mt-3 d-flex justify-content-end">
                        <button type="button" class="cancel-editing btn btn-outline-danger mr-2">Отмена</button>
                        <button type="submit" class="btn btn-outline-primary">Применить</button>
                    </div>
                </form>
            </div>

            <div class="col-12 mt-3">
                <div class="box">
                    <div class="row justify-content-around">

                        <div class="col-7">
                            <text>
                                Мы гордимя нашими студентами, среди их достижений первые и вторые места во всевозможных чемпионатах и хакатонах.
                                <br>С полным списком достижений вы можете ознакомиться <a href="#">здесь</a>
                            </text>
                        </div>

                        <div class="col-5">
                            <div class="row">
                                <div class="col-6 mt-0 company-container"><img src="/img/achievements/worldskills_logo.jpg" alt="worldskills" /></div>
                                <div class="col-6 mt-0 company-container"><img src="/img/achievements/yandex_logo.png" alt="worldskills" /></div>
                                <div class="col-6 mt-4 company-container"><img src="/img/achievements/digital_logo.png" alt="worldskills" /></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>