@import "mixins_breakpoints.scss";


//Adaptive gradient border
@mixin min-height-include-borders($border-size) {
    min-height: calc(100vh - #{$border-size}*2);
}

$border-size-xs: 0.25rem; // 4px/16
$border-size-sm: 0.375rem; // 6px/16
$border-size-md: 0.5rem; // 8px/16
$border-size-lg: 0.625rem; // 10px/16


.module-border-wrap {
    position: relative;
    padding: $border-size-xs;
    z-index: -200;

    @include sm {
        padding: $border-size-sm;
    }

    @include md {
        padding: $border-size-md;
    }

    @include lg {
        padding: $border-size-lg;
    }

    .module {
        position: relative;
        width: 100%;
        border-radius: 5px;
        background: #FBFBFB;
        overflow: hidden;
        z-index: -100;

        @include min-height-include-borders($border-size-xs);

        @include sm {
            @include min-height-include-borders($border-size-sm);
            border-radius: 10px;
        }

        @include md {
            @include min-height-include-borders($border-size-md);
        }

        @include lg {
            @include min-height-include-borders($border-size-lg);
        }
    }
    //Animation
    background: linear-gradient(135deg, #BD4EEE 33%, rgba(0, 133, 255, 0.5) 66%, rgba(0, 154, 99, 0.5) 100%);
    background-size: 300% 300%;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    //Animation
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

//Adaptive gradient border




// Header

$nav-padding: 1rem;
$logo_margin-right: 1rem;
$navbrand_margin-right: 1rem;
$nav-link_padding-left: 0.5rem;

$logo-width: 56px;

$header-logo-name_font-size: 1.5rem;
$header-logo-name_width: 5; // in em's

$dynamic-left-margin-lg: 0.02;
$dynamic-left-margin-rwd-1050: 0.045;
$dynamic-left-margin-rwd-1100: 0.07;
$dynamic-left-margin-rwd-1400: 0.13;

nav {
    font-family: Montserrat;
    font-style: normal;
    font-size: 1.125rem;

    @include lg {
        font-size: 0.875rem;
    }

    @include xl {
        font-size: 1rem;
    }

    @include rwd(1300) {
        font-size: 1.125rem;
    }

    .header-logo-name {
        font-size: $header-logo-name_font-size; // 1.5rem by default
        width: $header-logo-name_width + em; // 5 by default (Fixed width to calculate left-margin for main content)
        font-weight: 500;
        line-height: 1.04em;
        color: #393939;

        > p {
            margin-bottom: 0;
        }
    }

    .header-list {
        font-weight: 700;
        line-height: 1.2em;

        .nav-link {
            color: #2F3843 !important; // !important used to override bootstrap link color
            &:hover {
                color: #3FAEFF !important; // !important used to override bootstrap link color
            }
        }
    }
}

.header-left-margin {
    margin-left: 0;

    @include lg {
        margin-left: $dynamic-left-margin-lg * 100%;
    }

    @include rwd(1050) {
        margin-left: $dynamic-left-margin-rwd-1050 * 100%;
    }

    @include rwd(1100) {
        margin-left: $dynamic-left-margin-rwd-1100 * 100%;
    }

    @include rwd(1400) {
        margin-left: $dynamic-left-margin-rwd-1400 * 100%;
    }
}
// Header


// Main
@mixin calculate-left-margin($dynamic-left-margin) {  // Calculates required margin-left for main content to match a pos of first link of navbar
    $sum-of-rems: $nav-padding + $logo_margin-right + $navbrand_margin-right + $nav-link_padding-left + ($header-logo-name_font-size * $header-logo-name_width);
    margin-left: calc(#{$sum-of-rems} + #{$logo-width} + (100vw - #{$sum-of-rems} - #{$logo-width}) * #{$dynamic-left-margin});
}

main {
    margin-left: 1rem;

    @include lg {
        @include calculate-left-margin($dynamic-left-margin-lg);
    }

    @include rwd(1050) {
        @include calculate-left-margin($dynamic-left-margin-rwd-1050);
    }

    @include rwd(1100) {
        @include calculate-left-margin($dynamic-left-margin-rwd-1100);
    }

    @include rwd(1400) {
        @include calculate-left-margin($dynamic-left-margin-rwd-1400);
    }
}
// Main


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 400px;

    h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #393939;
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    img {
        height: 36px;
        width: auto;
    }

    .social_media_conteiner {
        letter-spacing: 16px;
    }
}

/*Debug only is here*/

/*.blank-test {
    height: 100vh;
}*/


.figure-container {
    position: absolute;
    z-index: -50;
}

#first-figure {
    height: 15vw;
    width: 15vw;
    top: 390px;
    left: 2%;
    transform: rotate(-62deg);
    -webkit-animation: First-figure 40s linear infinite;
    -moz-animation: First-figure 40s linear infinite;
    animation: First-figure 40s linear infinite;
}

@-webkit-keyframes First-figure {
    25% {
        top: 250px;
        left: 30%;
        transform: rotate(-95deg);
    }

    50% {
        top: 450px;
        left: 55%;
        transform: rotate(-50deg);
    }

    75% {
        top: 500px;
        left: 30%;
        transform: rotate(-95deg);
    }
}

@-moz-keyframes First-figure {
    25% {
        top: 250px;
        left: 30%;
        transform: rotate(-95deg);
    }

    50% {
        top: 450px;
        left: 55%;
        transform: rotate(-50deg);
    }

    75% {
        top: 500px;
        left: 30%;
        transform: rotate(-95deg);
    }
}

@keyframes First-figure {
    25% {
        top: 250px;
        left: 30%;
        transform: rotate(-95deg);
    }

    50% {
        top: 450px;
        left: 55%;
        transform: rotate(-50deg);
    }

    75% {
        top: 500px;
        left: 30%;
        transform: rotate(-95deg);
    }
}

.square-gradient {
    position: absolute;
    width: 80%;
    height: 80%;

    &:nth-child(1) {
    }

    &:nth-child(2) {
        left: 10%;
        top: 10%;
    }

    &:nth-child(3) {
        left: 20%;
        top: 20%;
    }
}


#second-figure {
    height: 23vw;
    width: 35vw;
    top: 40%;
    left: 75%;
    transform: rotate(-30deg);
    /*-webkit-animation: First-figure 40s linear infinite;
    -moz-animation: First-figure 40s linear infinite;*/
    animation: Second-figure-move 60s linear infinite;

    div {
        height: 100%;
        width: 100%;
        animation: Second-figure-scale 40s linear infinite;
    }
}

@-webkit-keyframes Second-figure-move {

    25% {
        top: 750px;
        left: 55%;
        transform: rotate(-50deg);
    }

    50% {
        top: 700px;
        left: 30%;
        transform: rotate(-120deg);
    }

    75% {
        top: 500px;
        left: 45%;
        transform: rotate(-95deg);
    }
}

@-moz-keyframes Second-figure-move {

    25% {
        top: 750px;
        left: 55%;
        transform: rotate(-50deg);
    }

    50% {
        top: 700px;
        left: 30%;
        transform: rotate(-120deg);
    }

    75% {
        top: 500px;
        left: 45%;
        transform: rotate(-95deg);
    }
}

@keyframes Second-figure-move {

    25% {
        top: 750px;
        left: 55%;
        transform: rotate(-50deg);
    }

    50% {
        top: 700px;
        left: 30%;
        transform: rotate(-120deg);
    }

    75% {
        top: 500px;
        left: 45%;
        transform: rotate(-95deg);
    }
}

@-webkit-keyframes Second-figure-scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes Second-figure-scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Second-figure-scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.polygon-gradient {
    position: absolute;
    width: 90%;
    height: 90%;

    &:nth-child(2) {
        left: 2vw;
        top: 2vw;
        animation: Polygon-2 20s linear infinite;
    }
}

@-webkit-keyframes Polygon-2 {

    25% {
        left: 2vw;
        top: 2vw;
    }

    50% {
        left: 1vw;
        top: 1vw;
    }

    75% {
        left: 1vw;
        top: 1vw;
    }
}

@-moz-keyframes Polygon-2 {

    25% {
        left: 2vw;
        top: 2vw;
    }

    50% {
        left: 1vw;
        top: 1vw;
    }

    75% {
        left: 1vw;
        top: 1vw;
    }
}

@keyframes Polygon-2 {

    25% {
        left: 2vw;
        top: 2vw;
    }

    50% {
        left: 1vw;
        top: 1vw;
    }

    75% {
        left: 1vw;
        top: 1vw;
    }
}

#third-figure {
    height: 40vw;
    width: 40vw;
    top: 55%;
    left: 5%;
    transform-origin: 50% 70%;
    /*-webkit-animation: First-figure 40s linear infinite;
    -moz-animation: First-figure 40s linear infinite;*/
    animation: Third-figure 25s linear infinite;
}

@-webkit-keyframes Third-figure {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes Third-figure {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes Third-figure {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.round-gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
        height: 100%;
        width: 100%;
        animation: Round-scale-1 20s linear infinite;
    }

    &:nth-child(2) {
        height: 70%;
        width: 70%;
        animation: Round-scale-2 20s linear infinite;
    }

    &:nth-child(3) {
        height: 40%;
        width: 40%;
        animation: Round-scale-3 20s linear infinite;
    }
}

@-webkit-keyframes Round-scale-3 {
    35% {
        transform: translate(-50%, -50%) scale(1.7);
    }

    55% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-moz-keyframes Round-scale-3 {
    35% {
        transform: translate(-50%, -50%) scale(1.7);
    }

    55% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes Round-scale-3 {
    35% {
        transform: translate(-50%, -50%) scale(1.7);
    }

    55% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes Round-scale-2 {
    34% {
        transform: translate(-50%, -50%) scale(1);
    }

    65% {
        transform: translate(-50%, -50%) scale(1.23);
    }

    85% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-moz-keyframes Round-scale-2 {
    34% {
        transform: translate(-50%, -50%) scale(1);
    }

    65% {
        transform: translate(-50%, -50%) scale(1.23);
    }

    85% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes Round-scale-2 {
    34% {
        transform: translate(-50%, -50%) scale(1);
    }

    65% {
        transform: translate(-50%, -50%) scale(1.23);
    }

    85% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes Round-scale-1 {
    65% {
        transform: translate(-50%, -50%) scale(1);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    95% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-moz-keyframes Round-scale-1 {
    65% {
        transform: translate(-50%, -50%) scale(1);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    95% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes Round-scale-1 {
    65% {
        transform: translate(-50%, -50%) scale(1);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    95% {
        transform: translate(-50%, -50%) scale(1);
    }
}

