/*Gradient border*/
.module-border-wrap {
    position: relative;
    background: linear-gradient(135deg, #BD4EEE 33%, rgba(0, 133, 255, 0.5) 66%, rgba(0, 154, 99, 0.5) 100%);
    background-size: 300% 300%;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    padding: 10px;
}

.module {
    position: relative;
    min-height: calc(100vh - 20px);
    width: 100%;
    border-radius: 10px;
    background: #FBFBFB;
    color: black;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
/*Gradient border*/



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 400px;
}

footer h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

footer img {
    height: 36px;
    width: auto;
}

footer .social_media_conteiner{
    letter-spacing: 16px;
}





/*Debug only is here*/

/*.blank-test {
    height: 100vh;
}*/
