/*Gradient border*/
.module-border-wrap {
    position: relative;
    background: linear-gradient(135deg, #BD4EEE 33%, rgba(0, 133, 255, 0.5) 66%, rgba(0, 154, 99, 0.5) 100%);
    background-size: 300% 300%;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    padding: 10px;
}

.module {
    min-height: calc(100vh - 20px);
    width: 100%;
    border-radius: 10px;
    background: #FBFBFB;
    color: black;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
/*Gradient border*/

/*Header*/
nav > a > div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #393939;
}

nav > a > div > p {
    margin-bottom: 0;
}

/*Kostil*/
nav > div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2F3843;
}

nav > div > a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2F3843;
}
/*Header*/

.footer {
    line-height: 60px;
}





/*Debug only is here*/

/*.blank-test {
    height: 100vh;
}*/
