<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HITs_Website_2.0</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="module-border-wrap">
    <div class="module">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light pt-4 pb-4">
                <a class="navbar-brand d-flex" href="#">
                    <img class="mr-xl-3 mr-lg-2 mr-3" src="~/svg/logo.svg">
                    <div class="align-self-center header-logo-name">
                        <p>Высшая<p>
                        <p>IT Школа<p>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse header-list mt-3 mt-sm-0 ml-3 ml-sm-0" id="navbarSupportedContent">
                    <div class="w-100">
                        <ul class="navbar-nav d-flex align-items-sm-center">
                            <li class="nav-item active header-left-margin text-nowrap mr-xl-4 mr-lg-3">
                                <a class="nav-link" href="#">Профессии</a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-3">
                                <a class="nav-link" href="#">Поступление</a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-3">
                                <a class="nav-link" href="#">Жизнь в Томске</a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-3">
                                <a class="nav-link" href="#">О Высшей IT школе</a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-3">
                                <a class="nav-link" href="#">Контакты</a>
                            </li>
                            <li class="nav-item dropdown ml-lg-auto">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Язык</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#ru">РУС</a>
                                    <a class="dropdown-item" href="#en">EN</a>
                                    <a class="dropdown-item" href="#cn">CN</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                

            </nav>
        </header>
        <div class="a">
            abcasdasdasdas
            <div class="b">
                abcasdasdasdas
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="row m-0">
                <div class="col-6">
                    <div class="container px-5">

                        <div class="d-flex">
                            <img src="~/svg/logo.svg">
                            <div class="align-self-center ml-2">
                                <h3>Высшая IT Школа</h3>
                            </div>
                        </div>

                        @*<h3 class="d-flex"><img src="~/svg/logo.svg"> Высшая IT Школа</h3>*@

                        <p class="pt-4">
                            634050, Томск, Проспект Ленина, 36 <br>
                            <br>
                            Пн-пт: с 9:00 до 17:00 <br>
                            Сб: с 9:00 до 13:00 <br>
                            Воскресенье — выходной день <br>
                            <br>
                            Email: abiturient@hits.tsu.ru <br>
                            Приёмная комиссия: +7(3822)942-101, +7(953)911-76-59 <br>
                            (только в рабочие часы) <br>
                        </p>

                        <div class="d-inline-block social_media_conteiner">
                            <a href="#"><img src="~/svg/vk-logo.svg"></a>
                            <a href="#"><img src="~/svg/facebook-logo.svg"></a>
                            <a href="#"><img src="~/svg/instagram-logo.svg"></a>
                            <a href="#"><img src="~/svg/youtube-logo.svg"></a>
                        </div>


                    </div>
                </div>
                <div class="col-6 m-0 p-0">
                    <div style="position:relative;overflow:hidden;">
                        <a href="https://yandex.ru/maps/org/tomskiy_gosudarstvenny_universitet/1789939939/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Томский Государственный университет</a>
                        <a href="https://yandex.ru/maps/67/tomsk/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Томске</a>
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1e32620ed2764c9c7daae7da82593244a65ba5218ce01ad0b837b9864e4782c4&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                    </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
