@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-block">
        <span class="title-decoration">&lt;title&gt;</span>
        <h1>Профессии</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Лучшие практики преподавания ведущих университетов мира (MIT, Stanford, Carnegie Mellon) помогут стать тебе высококлассным специалистом
                </p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <button type="button">Узнать подробнее</button>
            </div>
        </div>
    </div>
</div> 

@*<div class="text-center">
    <h4 class="display-4">this is Professions.cshtml</h4>
</div>*@
