@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-5">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-block">
        <span class="title-decoration">&lt;title&gt;</span>
        <h1>Профессии</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Лучшие практики преподавания ведущих университетов мира (MIT, Stanford, Carnegie Mellon) помогут стать тебе высококлассным специалистом
                </p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <button type="button">Узнать подробнее</button>
            </div>
        </div>
    </div>
</div>

<div class="row pt-4">

    <div id="side-navbar-container" class="col-3 d-none d-lg-block pt-4">
        <div id="side-navbar-place"></div>
        <div id="side-navbar" class="default">
            <ul>
                <li>
                    <div class="side-navbar-selected">
                        <a href="#">Кем я стану?</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">Тест на HITsность</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">Тестовая штука</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">Еще одна для вида</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div id="info-block" class="col col-lg-9">

        <div class="row">
            <div class="col-12">
                <h2>Кем я стану?</h2>

                <div class="row mt-3 pt-2">

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Software Developer</h3>
                            <p class="pt-3">
                                Разработчик программного обеспечения
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Web - Developer</h3>
                            <p class="pt-3">
                                Web - разработчик
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Software engineer</h3>
                            <p class="pt-3">
                                Инженер - программист
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Data scientist</h3>
                            <p class="pt-3">
                                Эксперт по аналитике данных
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Game Designer</h3>
                            <p class="pt-3">
                                Игровой дизайнер
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <h2>Кем я стану?</h2>

                <div class="row mt-3 pt-2">

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Software Developer</h3>
                            <p class="pt-3">
                                Разработчик программного обеспечения
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Web - Developer</h3>
                            <p class="pt-3">
                                Web - разработчик
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Software engineer</h3>
                            <p class="pt-3">
                                Инженер - программист
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Data scientist</h3>
                            <p class="pt-3">
                                Эксперт по аналитике данных
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Game Designer</h3>
                            <p class="pt-3">
                                Игровой дизайнер
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <h2>Кем я стану?</h2>

                <div class="row mt-3 pt-2">

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Software Developer</h3>
                            <p class="pt-3">
                                Разработчик программного обеспечения
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Web - Developer</h3>
                            <p class="pt-3">
                                Web - разработчик
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Software engineer</h3>
                            <p class="pt-3">
                                Инженер - программист
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Data scientist</h3>
                            <p class="pt-3">
                                Эксперт по аналитике данных
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty">
                            <h3>Game Designer</h3>
                            <p class="pt-3">
                                Игровой дизайнер
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
                

    </div>
</div>


@*<div class="text-center">
        <h4 class="display-4">this is Professions.cshtml</h4>
    </div>*@
