@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-5">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-block">
        <span class="purple-highlight">&lt;title&gt;</span>
        <h1>Профессии</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Лучшие практики преподавания ведущих университетов мира (MIT, Stanford, Carnegie Mellon) помогут стать тебе высококлассным специалистом
                </p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <button type="button" class="big-btn">Узнать подробнее</button>
            </div>
        </div>
    </div>
</div>

<div class="row pt-4">

    <div id="side-navbar-container" class="col-3 d-none d-lg-block pt-4">
        <div id="side-navbar-place"></div>
        <div id="side-navbar" class="default">
            <ul>                
            </ul>
        </div>

    </div>


    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">
            <div class="col-12">
                <h2>Кем я стану?</h2>
            </div>
            <div class="col-12 mt-3">
                <div class="row">

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty box">
                            <h4>Software Developer</h4>
                            <p class="pt-3">
                                Разработчик программного обеспечения
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty box">
                            <h4>Web - Developer</h4>
                            <p class="pt-3">
                                Web - разработчик
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty box">
                            <h4>Software engineer</h4>
                            <p class="pt-3">
                                Инженер - программист
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty box">
                            <h4>Data scientist</h4>
                            <p class="pt-3">
                                Эксперт по аналитике данных
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 specialty-container">
                        <div class="specialty box">
                            <h4>Game Designer</h4>
                            <p class="pt-3">
                                Игровой дизайнер
                            </p>
                        </div>
                    </div>

                </div>                
            </div>
        </div>

        <div class="row info-block">
            <div class="col-12">
                <h2>Тест на "HITsость"</h2>
            </div>
            <div class="col-12 mt-3 test-hits">

                <div class="row">
                    <div class="col-6 col-lg-12">

                        <div class="row mb-4">
                            <div class="col-12">
                                <h6>Шуточный вопрос</h6>
                            </div>
                            <div class="col-11 col-lg-6 col-xl-5">
                                <input type="text" placeholder="Ответ" />
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-lg-12">

                        <div class="row mb-4">
                            <div class="col-12">
                                <h6>Шуточный вопрос</h6>
                            </div>
                            <div class="col-11 col-lg-6 col-xl-5">
                                <div class="row pt-2">
                                    <div class="col-3"><button class="answer">Ответ 1</button></div>
                                    <div class="col-3"><button class="answer">Ответ 2</button></div>
                                    <div class="col-3"><button class="answer">Ответ 3</button></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-lg-12">

                        <div class="row mb-4">
                            <div class="col-12">
                                <h6>Шуточный вопрос</h6>
                            </div>
                            <div class="col-11 col-lg-6 col-xl-5">
                                <input type="text" placeholder="Ответ" />
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-lg-12">

                        <div class="row mt-lg-4">
                            <div class="col-11 col-lg-5 col-xl-4">
                                <button type="button" class="big-btn">Узнать результат</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@*<div class="text-center">
        <h4 class="display-4">this is Professions.cshtml</h4>
    </div>*@
