@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-5">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-block">
        <span class="purple-highlight">&lt;title&gt;</span>
        <h1>О школе</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Мы готовим действительно востребованных на IT- рынке специалистов
                </p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <button type="button" class="big-btn">Узнать подробнее</button>
            </div>
        </div>
    </div>
</div>

<div class="row pt-4">

    <div id="side-navbar-container" class="col-3 d-none d-lg-block pt-4">
        <div id="side-navbar-place"></div>
        <div id="side-navbar" class="default">
            <ul>
            </ul>
        </div>
    </div>


    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">
            <div class="col-12 w-100">
                <h2>Особенности учебного процесса</h2>
            </div>

            <div class="col-12 mt-3">
                <div class="specialty box">
                    <h4>Learning by Doing</h4>
                    <p class="pt-3">
                        Программист обучается тогда, когда что-то делает, а не тогда, когда он прослушал и пересказал лекцию на нужную тему
                    </p>
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="specialty box">
                    <h4>Постоянное развитие предметов и преподавателей</h4>
                    <p class="pt-3">
                        После каждого проведённого года, в дисциплины вносятся изменения (потенциально, улучшения), как на уровне содержания, так и на уровне правил прохождения предмета
                    </p>
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="specialty box">
                    <h4>Интересно → сложно</h4>
                    <p class="pt-3">
                        По своей структуре предметы и их компоновка готовят студентов к разным ситуациям, которые могут встречаться в профессиональной деятельности.
                    </p>
                </div>
            </div>

        </div>        

        
    </div>
</div>