@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-5">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-block">
        <span class="purple-highlight">&lt;title&gt;</span>
        <h1>О школе</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Мы готовим действительно востребованных на IT- рынке специалистов
                </p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <button type="button" class="big-btn">Узнать подробнее</button>
            </div>
        </div>
    </div>
</div>

