@using HITs_Website_2._0.Views.Manage
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills">
    <li><a asp-action="Index">Профиль</a></li><pre> | </pre>
    <li><a asp-action="ChangePassword">Сменить пароль</a></li>
</ul>

